body{
    margin: 0;
    font-family: sans-serif;
}
.modal{
    position: absolute;
    background-color: #0009;
    height: 100vh;
    width: 100vw;
}
.modal__content{
    background-color: white;
    padding: 10px 20px;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    position: relative;
}
.modal__tittle{
    margin-top: 10px;
}
.modal__close-button{
    background-color: black;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px 12px;
}