body{
    background-color: rgb(66, 66, 66);
    color: white;
    font-family: sans-serif;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.flex-item{
    flex-grow: 1;
    margin: 20px;
    max-width: 340px;
    border: 2px solid black;
    padding: 30px;
}

.flex-item:hover{
    background-color: rgba(128, 128, 128, 0.356);
    box-shadow: 0 0 2px rgb(28, 236, 0);
}
.flex-item:focus{
    background-color: rgba(128, 128, 128, 0.356);
    box-shadow: 0 0 2px rgb(28, 236, 0);
}

h3{
    color: rgb(197, 159, 89);
}
p b{
    color: rgb(0, 231, 0);
}
.llave-img{
    width: 200px;
    
}