body{
    background-color: rgb(27, 27, 27);
    color: white;
    font-family: sans-serif;
    margin: 0;
}
.contenedor{
    box-sizing: border-box;
    display: flex; 
    justify-content: center;
}
h1{
    display: flex;
    justify-content: center;
}
.calificacion{
    background-color: rgb(95, 95, 95);
    border: none;
    border-radius: 4px;
    height: 20px;
    color: white;
}
.subirCalificaciones{
    background-color: rgb(95, 95, 95);
    border: 0;
    border-radius: 5px;
    height: 25px;
    color: white;
}
#contenedor2 {
    display: flex;
    flex-direction: column;  /* Vertical */
    align-items: center;     /* Centrar horizontal */
    justify-content: center; /* Centrar vertical */
    gap: 10px;               /* Espacio entre párrafos */
    text-align: center;
    margin: 20px;
}

#parrafo {
    font-weight: bolder;
    font-size: 30px;
    margin: 0;  /* Quita márgenes por defecto */
}

#opciones {
    margin: 0;
    font-size: 18px;
}