body{
    margin: 0;
    background-color: gray;
}
.box{
    width: 100px;
    height: 100px;
    background-color: orange;
    position: relative;
}
.box--blue{
    background-color: blue;
    top: 30px;
    left: 30px;
    z-index: 3;
}