body{
    margin: 0px;
    font-family: sans-serif;
    background-color: gray;
}
.box{
    width: 150px;
    background-color: red;
    margin: auto;
    margin-top: 50px;
    border: 5px solid black;
    padding: 10px;
    transition-property: outline, border-radius;
    transition-duration: 0.5s;
}
.box:hover{
    outline: 5px solid blue;
    border-radius: 100%;
}