body{
    margin: 0;
    font-family: sans-serif;
}
.contenedor{
    padding: 150px;
    background-color: blue;
    position: relative;
}
.box{
    height: 120px;
    width: 200px;
    background-color: white;
    position: fixed;
    right: 0;
    border: 1px solid black;
    border-right: 0;
    box-shadow: 0 0 40px black;
}
.box-fixed{
    height: 120px;
    width: 200px;
    background-color: red;
    position: sticky;
}
h2{
    font-size: 18px;
}
p{
    font-size: 14px;
    margin: 0;
}