body{
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.caja{
    width: 400px;
    background-color: rgb(119, 119, 119);
    color: white;
    text-align: center;
    margin: auto;
    padding: 35px;
    box-shadow: 0 0 30px black;
    border-radius: 10px;
    margin-bottom: 30px;
}
.imagen{
    width: 200px;
    border-radius: 100%;
    box-shadow: 0 0 40px rgb(167, 167, 167);
}
.two{
    background-color: rgb(60, 111, 168);
}
.three{
    background-color: aliceblue;
    color: black;
}
.threeImage{
    box-shadow: 0 0 30px black;
}