body{
    font-family: sans-serif;
    background-color: gray;
    margin: 0;
}
.barra{
    background-color: rgb(51, 51, 51);
    height: 3vh;
    width: 100vw;
    justify-content: center;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
}
a{
    text-decoration: none;
    color: white;
    margin: 0 30px;
    transition-duration: 2s;
    transition-property: color, background-color;

    margin-bottom: auto;
    padding: 5px;
    border-radius: 10%;
}
a:hover{
    color: black;
    background-color: white;
    border-radius: 10%;
}
.login{
    background-color: white;
    color: black;
    border-radius: 10%;
}
.login:hover{
    background-color: rgb(158, 61, 61);
    color: white;
}
img{
    position: sticky;
    bottom: 1px;
    top: 10px;
    left: 20px;
    height: 5vh;
}