body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: gray;
}
.flexbox{
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    background-color: rgb(190, 188, 188);
    justify-content: start;
    margin:20px;
    height: 600px;
}
.flex-item{
    background-color: rgb(134, 0, 0);
    text-align: center;
    color: white;
    font-size: 30px;
    height: 50px;
    flex: 1 1 200px;
    margin: 20px;
}
.flex-item:first-child{
    background-color: rosybrown;
}
.flex-item:last-child{
    background-color: black;
}
.item-5{
    align-self: flex-end;
}