body{
    margin: 0;
    font-family: sans-serif;
    color: white;
    background-color: rgb(66, 65, 65);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
}

.header1{
    background-color: rgb(83, 72, 4);
}

.nav1 ul{
    display: flex;
    justify-content: center;
    padding: 0;
}

.nav1 li{
    list-style: none;
    margin: 5px;
}

.nav1 a{
    color: white;
    display: inline-block;
    justify-content: center;
    padding: 6px 10px ;
}

.lista1 li{
    margin:  5px 20px;
    list-style: none;
}

body, div, nav, header, main, aside{
    box-sizing: border-box;
}
.div2, footer, header{
    width: 100%;
}

.div2{
    max-width: 1024px;
    display: flex;
    gap: 10px;
    flex-grow: 1;
    flex-wrap: wrap;
}

h1, h2, h3{
    text-wrap: balance;
}
nav a{
    text-decoration: none;
}

a:hover{
    opacity: 0.7;
}

aside, main{
    flex-basis: 0;
}

.div2 aside{
    flex-grow: 1;
}

.subtema1{
    min-width: 200px;
}

.subtema1 a{
    color: rgb(225, 190, 122);
    display: inline-block;
    padding: 6px 10px;
}

.subtema1 ul{
    padding: 0;
}
.subtema1 li{
    text-decoration: none;
}

aside:last-child{
    min-width: 10rem;
}

footer{
    margin-top: auto;
    background-color: rgb(88, 88, 88);
    color: white;
    padding: 40px;
    text-align: center;
}

@media screen and (max-width:700px){
    aside:last-child{
        display: none;
    }
}
@media screen and (max-width:500px){
    .main-wrapper{
        flex-direction: column;
    }
}
main{
    flex-grow: 1;
}