body{
    font-family: sans-serif;
    margin: 0px;
}
div, body{
    box-sizing: border-box;
}
.flexbox{
    display: flex;
    flex-flow: row wrap;
    border: 2px solid black;
    margin: 20px;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 360px;
}
.flex-item{
    width: 100px;
    background-color: #911;
    margin: 10px;
    color: white;
    font-size: 40px;
    text-align: center;
}
.flex-item:first-child{
    background-color: #d56;
}
.flex-item:last-child{
    background-color: black;
}