body{
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(51, 51, 51);
}
.flexbox{
    display: flex;
    border: 2px solid black;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 500px;
    align-content: baseline;
}
.flexitem{
    background-color: rgb(94, 94, 94);
    color: white;
    margin: 10px;
    text-align: center;
    width: 130px;
    height:40px;
    font-size: 30px;
}
.flexitem:first-child{
    background-color: black;
}
.flexitem:last-child{
    background-color: brown;
    order: -1;
}