body{
    font-family: sans-serif;
    margin: 0;
}
.barra{
    width: 100vw;
    height: 100px;
    position: fixed;
    background-color: rgb(46, 46, 46);
    text-align: center;
    margin: 0;
    padding: 0;
}
.imagen{
    height: 50px;
    margin: 0px 10px;
    margin-top: 20px;
    position: relative;
    top: 10px;
}
.letras{
    position: relative;
    width: 100px;
    margin: 0 10px;
    top: 10px;
}
.subtitulo{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    transition: color, background-color;
    transition-duration: 1s;
    border-radius: 5px;
}
.subtitulo:hover{
    color: rgb(80, 61, 13);
    background-color: rgb(151, 151, 151);
}
.titulo{
    transition: color, background-color;
    transition-duration: 2s;
    color: rgb(119, 119, 119);
}
.titulo:hover{
    color: goldenrod;
    background-color: black;
}
.texto{
    background-image: url("https://images.unsplash.com/photo-1641416608478-9659e115028a?q=80&w=725&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100%;
    color: rgb(117, 117, 117);
}