body{
    font-family: sans-serif;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(255, 102, 0);
    color: #fff;
}
body, div, header, nav, ul, img, p{
    box-sizing: border-box;
}
/* HEADER SECTION */
.header{
    min-height: 100vh;
    box-sizing: border-box;
    background-image: url("https://images.unsplash.com/photo-1581650107963-3e8c1f48241b?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    display: flex;
}
h1{
    margin: 0;
    font-size: 50px;
    text-wrap: balance;
}
.header__overlay{
    min-height: 100vh;
    width: 100%;
    background-color: #0006;
    position: absolute;
    z-index: 1;
}
.header__item-container{
    position: relative;
    z-index: 10;
    margin: auto;
    text-align: center;
}
.header__item-container p{
    text-wrap: pretty;
}
.header__item-container img{
    min-width: 250px;
    max-width: 40%;
    border-radius: 50%;
    border: 3px solid white;
    margin: 20px;
}
/* NAVBAR SECTION */
.nav{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: sticky;
    top: 0;
}
.nav__ul{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}
.nav__item{
    list-style: none;
}
.nav__logo-container, .nav__ul-container{
    flex-grow: 1;
}
.nav__link{
    color: rgb(168, 89, 15);
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin: 6px;
    background-color: white;
    transition: border-radius 2s, background-color 1s; 
}
.nav__link:hover{
    background-color: rgba(224, 144, 98, 0.4);
    border-radius: 10%;
}
.nav__logo{
    width: 70px;
}
main{
    margin: 10px 20px;
}
.link__login{
    background-color: rgb(192, 88, 3);
    color: white;
}
.link__login:hover{
    background-color: rgb(104, 47, 0);
    border-radius: 10%;
}

/* MAIN SECTION */
main{
    max-width: 800px;
    margin: auto;
    font-size: 30px;
}