body{
    background-color: rgb(41, 57, 85);
    margin: 0;
    color: white;
}
.box{
    width: 100%;
    height: 200px;
    margin: 20px;
    background-color: rebeccapurple;
    background-image: url("https://cloudfront-us-east-1.images.arcpublishing.com/bloomberglinea/R7LKKS5VXZBSFOVDMFLUSHJR3E.jpeg");
    background-size: cover;
    background-position: center;
    margin: 0;
}
.opaco{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.582);
    text-align: center;
}