body{
    font-family: sans-serif;
    margin: 0;
    
}

.box{
    width: 350px;
    background-color: rgb(177, 177, 177);
    margin: auto;
    margin-top: 50px;
    box-shadow: 0px 0px 50px 0px black;
    padding: 20px;
    box-sizing: border-box;
    color: #444;
    text-align: center;
}
h2{
    font-family: sans-serif;
    color: #444;
}
p{
    list-style: none;
    text-align: justify;
    text-shadow: 0 0 4px rgb(175, 121, 121);
}

img{
    width: 160px;
    border-radius: 100%;
    box-shadow: 0px 0px 50px 0px black;
}