/* selector por atributo */
img[src="https://images.unsplash.com/photo-1613749500509-d2fe569bc34a?q=80&w=580&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"]{
    width: 20%;
}
/* seleccion descendiente */
ul li{
    color: gray;
}

/* selector por hijo directo */
li > em{
    color: red;
}

/* selector de hermano adyacente */
h1 + p{
    color: blue;
}

/* selector de hermanos generales */
h1 ~ p{
    color: blue;
}